h1 {
    color:red; 
}

ol{
    text-align:center;
    width: 360px;
}
body{
    background-color:#e6fceb;
}

img{
    width:150px; 
    height:150px;
    
}

.img-teste img{
    width:150px; 
    height:200px;
}

